/* reset CSS*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family: Arial, Helvetica, sans-serif;
}

/* 
1. từ ngoài vào trong 
2. từ trên xuống dưới
3. tổng quan đến chi tiết

*/

/* 1. vị trí
2. kích thước 
3. màu sắc
4.kiểu dáng (kiểu chữ, hình tròn, vuông,...) */
#main{

}

#header{
    height: 46px;
    background-color: rgb(73, 171, 241);

}

#nav {

}

#nav li {
    display: inline-block;
    position: relative;

}

#nav .subnav {
    position: absolute;
    background-color:rgb(73, 171, 241) ;
}

#nav .subnav a {
    color: white;
}



#nav li a {
    text-decoration: none;
    line-height: 46px;
    padding: 0 46px;
    display: inline-block;
    
}

#nav > li > a {
    color: white;
    
}


#nav .subnav li:hover a,
#nav > li:hover > a {
    color: rgb(8, 192, 216);
    background-color: rgb(12, 60, 132);
    
}

#slider{
    min-height: 500px;
    background-color: brown;

}

#content{

}

#footer{

}